* {
  font-family: monospace;
}

body {
  background-color: #d4cec4;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#color-btn {
  height: 30px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}