* {
  font-family: monospace;
}

:root {
  --light: #d4cec4;
  --dark: #090614;
  --lightBtn: #f1f1f1;
  --darkBtn: #110b27;
}

body {
  background-color: var(--light);
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body.dark-mode {
  background-color: var(--dark);
  color: var(--light);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toggle-btn {
  height: 80px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: var(--lightBtn);
  color: var(--darkBtn);
  font-size: 30px;
  cursor: pointer;
}

.toggle-btn.dark-mode {
  background-color: #110b27;
  color: var(--light);
}

#next-project {
  display: none;
  height: 5rem;
  width: 2rem;
  background-color: blue;
}